glide_model_cache
hello
templates-old
Code.7z
dataset.png
gfgoutput.png
lol.jpg
images.zip
proj.zip
System Requirements.docx
temp.py
templates (2).zip
templates (3).zip
userdb1.db
output2.png
output3.png
output4.png
output5.png
templates.zip
background_removal.py
bird dataset.png