<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reg_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='universal_styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Registration Form</h2>
        <form method="POST" id="myForm">
            <div class="form-column">
                <label for="username" class="ilabel">User Name:</label>
                <br>
                <label for="email" class="ilabel">Email:</label>
                <br>
                <label for="password" class="ilabel">Password:</label>
                <br>
            </div>
            <div class="form-column">
                <input type="text" class="forminput" id="username" name="username">
                <br>
                <input type="email" class="forminput" id="email" name="email">
                <br>
                <input type="password" class="forminput" id="password" name="password">
            </div>
            <br>
            <input type="submit" class="submitdatabutton" value="Register">
            <br>
            <button class="submitdatabutton" onclick="window.location.href='/login'">Login Instead</button>
        </form>
    </div>
    
</body>
</html>
